:root {

    --cell-size: 28px;
    --cols: 10;
    --rows: 20;
}


* {

    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

body {
    background-color: #0f172a;
    display: flex;
    align-items: flex-start;
    gap: 24px;
    color: #e6eef8;
    padding: 28px;
}

.container {
    display: flex;
    gap: 15px;
}

.board {

    width: calc(var(--cols) * var(--cell-size));
    height: calc(var(--rows) * var(--cell-size));
    background: linear-gradient(180deg, #071029 0%, #0b1a2e 100%);
    padding: 6px;
    border-radius: 8px;
    box-shadow: 0 6px 24px rgba(2, 6, 23, 0.6) inset;
    display: grid;
    grid-template-columns: repeat(var(--cols), 1fr);
    grid-auto-rows: var(--cell-size);
    gap: 3pxs;
}

.panel {
    background: linear-gradient(180deg, #081323, #071226);
    padding: 12px;
    border-radius: 8px;
    min-width: 160px;
}

.sidebar {

    display: flex;
    gap: 12px;
    flex-direction: column;
}

.title {

    font-weight: 700;
    margin-bottom: 8px;

}

button {

    padding: 8px 10px;
    border-radius: 6px;
    border: none;
    background: #06b6d4;
    cursor: pointer;
    color: #022;

}

.small-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 6px;
    width: 116px;
    height: 116px;
    padding: 6px;
    background: rgba(255, 255, 255, 0.02);
    border-radius: 6px;
}

.cell {
    color: white;
    width: 100%;
    background: transparent;
    border-radius: 4px;
}

.filled {
    box-shadow: inset 0 -6px 0 rgba(0, 0, 0, .15);
}

.stat {
    font-size: 14px;
}


/*Colors Shape*/

.c-I {

    background: #06b6d4;


}

.c-J {
    background: #6366f1;
}

.c-L {

    background: #f97316;
}

.c-O {
    background: #eab308;
}

.c-S {
    background: #10b981;
}

.c-T {
    background: #a78bfa;
}

.c-Z {
    background: #ef4444;
}